body {
  margin: 0;
  padding: 5px;
  background: #abc;
}

#menu {
  padding: 0;    
  margin: 0;
  margin-bottom: 10px;
  list-style-type: none;
}

#menu .menu_item {
  background: #aaa;
  display: block;
  float: left;

  border: solid gray 1px;

  margin-right: -1px;

  padding: 2px;
}

#menu .menu_item.current {
  box-shadow: inset 0 0 0 1em #ddd;
  z-index: 10;
}

#menu .menu_item:hover {
  /*border-color: #ddd;*/
  box-shadow: inset 0 0 0 1em #ddd;
  z-index: 10;
}

#menu .menu_item a {
  text-decoration: none;
  color: black;
}

#content {
  width: 100%;
  min-height: 100px;
  padding: 0;
}

.clear {
  clear: both;
}


