#content {
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 5px;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

#ontology_droparea {
  color: #dadada; 
  border: dashed #dadada 2px;
  border-radius: 2px;
  padding: 15px;
  margin: 0;
  margin-bottom: 5px;
}

#ontology_droparea:hover {
  color: gray; 
}

#ontology_list {
  font-size: 0.8em;
  font-family: monospace;
  
  margin-bottom: 5px;

  overflow-x: hidden;

  position: relative;
  white-space: nowrap;

  border-bottom: solid #dadada 1px;
}

#ontology_list .item {
  border-top: solid #dadada 1px;
  padding: 5px;
  margin: 2px;
  overflow: hidden;
  /*font-size: 105%;*/

  /* might want it non selectable to be easily draggable ;) */
  -moz-user-select: none;
  cursor: move;
}

/*
#ontology_list .uri::before {
  content: " -> ";
}
 */

#ontology_list .uri {
  font-weight: bold;
}

/*.list_container ul {
  position: absolute;
  right: 0px;
}*/

.panel-heading {
  -moz-user-select: none;
}

.panel.collapsed .panel-body {
  display: none;
}

input.onlyline {
  color: black;
  border: 0;
  border-bottom: 1px solid gray;
  border-radius: 0; 
  background: -moz-linear-gradient(bottom, #dadada, white, white, white, white, white);
}

input.onlyline:focus, input.onlyline:hover {
  background: -moz-linear-gradient(bottom, #97D8FF, white, white, white, white, white);
}


/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}



/*
 * Masthead for nav
 */
#menu {
  background-color: #333;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.menu-nav-item {
  position: relative;
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  color: #dadada;
}
.menu-nav-item:hover,
.menu-nav-item:focus {
  color: #dadada;
  background-color: #008cba;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.menu-nav .active {
  color: #fff;
}
.menu-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
