html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    height: 100%;
    position: relative;
    width: 100%;
}
.header {
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    z-index: 5;
}
.topic {
    background: none repeat scroll 0 0 #dadada;
    color: #225;
    font-weight: bold;
    padding: 3px 3px 3px 10px;
}
.settings {
    background: none repeat scroll 0 0 white;
    display: none;
    margin: 0;
    padding: 8px;
}
.settings:hover {
    display: table;
}
.topic {
    font-size: 80%;
}
.topic:hover + .settings {
    display: table;
}
.setting {
    display: table-row;
}
.setting label, .setting input {
    display: table-cell;
}
.setting label {
    font-size: 80%;
    font-weight: bold;
}
.setting label:after {
    content: ": ";
}
.editor-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 20px;
}
.templates {
    height: 8%;
    margin: 0;
    padding: 8px;
}
.templates:before {
    color: #225;
    content: "Template: ";
    font-weight: bold;
    font-size: 80%;
    width: 25%;
    margin: 0;
}
.templates select {
  margin: 0;
  padding: 3px;
  height: 30px;
  width: 50%;
  border-radius: 0;
  border: 1px solid gray;
}
.templates button {
  margin: 0;
  padding: 3px;
  height: 30px;
  background: white;
  border: 1px solid gray;
  border-radius: 0px 3px 3px 0px;
  width: 15%;
}
.editor {
    background: none repeat scroll 0 0 white;
    height: 90%;
    margin: 0;
    overflow-y: scroll;
    border-bottom: 1px dashed gray;
}
.step {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
    border-left: 4px solid rgba(100, 100, 100, 0.1);
    border-top: 1px solid rgba(100, 100, 100, 0.1);
    margin: 0;
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 2px 0px 2px 4px;
}
.step h4 {
    color: #225;
    font-size: 80%;
    margin: 0;
}
.step p:last-child {
    margin-bottom: 0;
}
.step .selector {
    font-size: 80%;
}
.step + .step {
    margin-top: 2px;
}
.step-name.template:before {
    content: "template ";
}
.step-name.create:before {
    content: "create ";
}
.step-name.assign:before {
    content: "assign ";
}
.step-name.narrow:before {
    content: "narrow ";
}
.step-name.call-template:before {
    content: "call-template ";
}
.step.current {
    background: none repeat scroll 0 0 rgba(100, 50, 100, 0.2);
}
.step:hover {
    background: none repeat scroll 0 0 rgba(100, 50, 100, 0.2);
    border-color: gray;
}
.step.highlighted {
    border-bottom: 1px solid #6ce26c;
    border-left: 4px solid #6ce26c;
    border-top: 1px solid #6ce26c;
}

